<div class="card my-2">
  <img
    src="assets/images/{{ crib.image }}.jpg"
    class="card-img-top"
    alt="{{ crib.address }}"
  />
  <div class="card-body">
    <div class="caption">
      <div *ngIf="!showDetails">
        <h5>
          <span class="badge bg-primary">
            {{ crib.type }}
          </span>
        </h5>
        <h3>
          <i class="bi bi-tag-fill"></i>
          {{ crib.price | currency : "USD" : true }}
        </h3>
        <h4>
          <i class="bi bi-house-door-fill"></i>
          {{ crib.address }}
        </h4>
        <hr />
        <button
          class="btn btn-sm btn-success"
          *ngIf="!showDetails"
          (click)="showDetails = !showDetails"
        >
          Details
        </button>
      </div>
      <div *ngIf="showDetails">
        <div class="details">
          <h4>
            <span class="badge bg-primary">Beds: {{ crib.bedrooms }}</span>
            <span class="badge bg-primary">Baths: {{ crib.bathrooms }}</span>
            <span class="badge bg-primary">SqFt: {{ crib.area }}</span>
          </h4>
          <p>{{ crib.description }}</p>
          <hr />
          <button
            class="btn btn-sm btn-danger"
            (click)="showDetails = !showDetails"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
